.GimbalRow .index {
	margin: 0 0.5em;
	font-weight: bold;
	display: inline-block;
	width: 2em;
	text-align: right;
}

.GimbalParam {
	min-width: 5em;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.1);
	margin: -0.5px;
	width: 2.5em;
	text-align: right;
}

.GimbalRow .op-ReadComplete {
	background-color: rgba(0,0,255,0.1);
}

.GimbalRow .op-WriteComplete {
	background-color: rgba(255,96,0,0.4);
}

.GimbalPollerToggle input {
	margin: 0 0.25em;
}

.GimbalPollerToggle label {
	margin: 0 0.25em;
}