.AppLogo {
    background: #b8383d;
    text-align: center;
}

.AppLogo img {
    width: 80%;
    max-width: 500px;
    padding: 4px 0;
}

.App .nav, .btn-toolbar, p {
    margin: 10px 4px;
}

.App h1, h2, h3, h4, h5, h6 {
    padding: 0.3em 4px;
}

.App h1, h2, h3, h4 {
    background: #eee;
}

.App .right {
	float: right;
	margin: 4px;
}

.App .btn-block {
	width: 75%;
	margin: 4px auto;
}

.App .json-pretty {
    width: 100%;
    padding: 0.6em 2px;
}

.App .Gauge {
    text-align: right;
}

.App .btn-toolbar button {
    margin: 0 0.8em 0 0;
}