.AppLogo {
    background: #b8383d;
    text-align: center;
}

.AppLogo img {
    width: 80%;
    max-width: 500px;
    padding: 4px 0;
}

.App .nav, .btn-toolbar, p, h1, h2, h3, h4, h5, h6 {
    margin: 10px 4px;
}

.App .right {
	float: right;
	margin: 4px;
}

.App .btn-block {
	width: 75%;
	margin: 4px auto;
}
