.Joystick {
	width: 100%;
	height: 14em;
	margin: 0 0 1em 0;
}

.Joystick .zone {
	position: absolute;
	width: 100%;
	height: 14em;
	background: #004;
	text-align: center;
	padding: 1em;
}

.Joystick div {
	color: rgba(255,255,255,0.5);
}

.Joystick .big {
	font-size: 2em;
}
